h1{
    color:blue;
    background-color: green;
}
body{
    color:green;

}
h1{
    text-align: center;
    font-size: 50px;
    font-family: "Courier New","Courier New", Courier, monospace;
    font-style: bold;
    margin: 5px;
    padding: 20px;
    border: 1px solid red;


}
img{
    width: 180px;
}
